@font-face {
    font-family:"DMSans_18pt-Bold" ;
    src: url(../fonts/dmsans/DMSans_18pt-Bold.ttf);
}
@font-face {
    font-family:"Mulish-Regular" ;
    src: url(../fonts/moolish/Mulish-Regular.ttf);
}